name: Playwright UI Tests

on:
  workflow_dispatch:
  pull_request_target: 
    branches: [ master]
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run UI Tests
        run: npx playwright test tests/regression --reporter=list